body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #de406e;
    color: white;
    padding: 0px 0;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

#heading-1 {
    margin-left: auto;
    margin-right: auto;
}
.about-me {
    display: flex;
    align-items: center; 
    
}

.about-me img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    
}

nav {
    background-color: #51c7bb;
    color: black;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: sticky;
    top:60px;
    z-index:1000;

}

nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #a6e8a1;
    font-weight: bold; /* Para hacer el texto un poco más grueso */
}

main {
    padding: 20px;
    background-color: #ffeed1; /* Color pastel que combina con los demás */
    text-align: justify; /* Justificar el texto */
    color: black;
    padding-bottom: 70px;
}
footer {
    background-color: #de406e; /* Establece el color de fondo del footer a un púrpura oscuro */
    width: 100%; /* Establece el ancho del footer al 100% del ancho del contenedor padre */
    color: white; /* Establece el color del texto en el footer a blanco */
    position: fixed; /* Fija el footer en la parte inferior de la ventana del navegador  */
    bottom: 0; /* Establece la posición del footer en la parte inferior de la ventana */
    padding-left: 35px;

}